.filter {
  &_group {
    width: 29%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_osc {
    width: 100%;
    height: 58%;
  }

  &_main {
    width: 100%;
    height: 38%;
  }
}
