.osc {
  width: 39%;
  display: flex;
  flex-flow: row wrap;

  &_octave {
    width: 25%;
    flex-grow: 1;
  }

  &_knobs {
    width: 75%;
    display: flex;
    justify-content: space-around;
  }

  &_bottom {
    width: 100%;
    flex-grow: 1;
  }
}
