.wheels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

.wheel_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 18px;
  height: 75%;
  border-radius: 14px;

  overflow: hidden;

  &:first-of-type {
    right: -5px;
  }
  &:last-of-type {
    left: -5px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: 14px;
    height: 100%;
    background-image: repeating-linear-gradient(to bottom, #333333, #333333 2%, #6d6c6c 6%);
    pointer-events: none;
    z-index: 0;
  }
}
.wheel {
  width: 14px;
  height: 200%;
  margin: 0 auto;
  box-shadow: 2px 0px 4px -2px rgba(0, 0, 0, 0.65), -2px 0px 4px -2px rgba(0, 0, 0, 0.65);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(100, 100, 100, 0.2) 35%, rgba(200, 200, 200, 0.3) 50%, rgba(100, 100, 100, 0.2) 65%, rgba(0, 0, 0, 0.4) 100%);

  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;
  z-index: 1;
}
